@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
/* https://www.color-hex.com/color-palette/15018 */

/* Header Styles */
.mainHeader {
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  padding: 20px 40px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 600; /* Slightly bolder for emphasis */
  color: #333;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  font-family: "Inter", sans-serif; /* Consistent sans-serif font for navigation */
  font-size: 1rem;
  font-weight: 500;
  color: #c08879;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.nav a:hover {
  color: #c08879;
  border-bottom: 2px solid #c08879;
}

/* Responsive Design */
@media (max-width: 768px) {
  .headerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav {
    flex-direction: column;
    gap: 15px;
  }

  .container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
  }
  
  .heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
  }
  
  .navigation {
    margin-top: 20px;
  }
  
  .navLink {
    font-size: 1.1rem;
    color: #ff6f61;
    cursor: pointer;
    margin: 10px 0;
    text-decoration: underline;
  }
  
  .navLink:hover {
    color: #ff3b3b;
  }

}


